<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-5">
      <img src="./../../assets/images/allthepies.jpg" alt="Bite out of pie logo" class="img-responsive" height="100" width="100">
    </div>
  </div>
  <!--<div class="row">
    <div class="col-md-6">
      <div style="display: block;">
        <canvas baseChart width="400" height="400" 
            [datasets]="chart.chartData" 
            [labels]="chart.chartLabels" 
            [options]="chart.chartOptions"
            [colors]="chart.chartColors" 
            [chartType]="chart.chartType">
        </canvas>
      </div>
    </div>-->
    <div class="row col-lg-offset-1">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <th>Name</th>
            <th *ngFor="let month of months">{{month}}</th>
          </thead>
          <tbody>
            <tr *ngFor="let person of people">
              <td>{{person.FullName}}</td>
              <td *ngFor="let weight of person.Weights">{{weight.Kg}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>